# local env files
.env*.local

#######################
# VISION ALGORITHM
#######################
*.mp4
*.mov
*.avi
*.wmv
*.webm


#######################
# FRONTEND DEPENDENCIES
#######################
*/node_modules
*/.pnp
*.pnp.js
*.yarn/install-state.gz

# testing
*/coverage

# next.js
*/.next/
*/out/

# production
*/build

# misc
*.DS_Store
*.pem

# debug
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*

# vercel
*.vercel

# typescript
*.tsbuildinfo
*next-env.d.ts



#######################
# FLASK SERVER DEPENDENCIES
#######################
*__pycache__
*/venv


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?